


.row{
    margin-left: 20px;
    color: #fff;
     cursor: pointer;
    

}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
   
}

.posters::-webkit-scrollbar{
    display: none; 
    overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #6c5ce7 #dfe6e9;
}
.posters::-webkit-scrollbar:hover{
     transition: transform .3s;
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);  
  transform: scale(1.1);
  scroll-behavior: smooth;
}

.poster::-webkit-scrollbar {
  width: 8px;
}

.poster::-webkit-scrollbar-track {
  background: #dfe6e9;
  
}

.home::-webkit-scrollbar-thumb {
  background-color: #6c5ce7;
  border-radius: 4px;
  
}


.poster{
    max-height: 250px;
    margin-right: 10px;
    border-radius: 7px;
     border: rgb(255, 255, 255);
     

}

.poster:hover{
     transition: transform .3s;
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);  
  transform: scale(1.1);
}


.header-slider{
 display: flex;
 gap: 2%;
 border: rgb(255, 255, 255);
 border-radius: 2%;
 cursor: pointer;

}


.fancy-button {
  background-color: #040404;
  color: white;
  border:#fbfbfb;
   margin-left:32% ;
   padding: 10px 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  border-radius: 10px;
}

.fancy-button:hover {
  background-color: #f00303;
  transform: scale(1.05);
}

.home{
    color: white;
    cursor: pointer;
}
.home:hover{
    color: var(--dark);
}

.img{
    width: 18rem;
    
}
.img:hover{
 transition: transform .3s;
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);  
  transform: scale(1.1);

}

.tv-slider{
    display: flex;
 gap: 2%;
 border: white;
 border-radius: 2%;
 cursor: pointer;
}

.tv{
     color: white;
    cursor: pointer;
}

.tv:hover{
    color: var(--dark);
}

.Movies-slider{
display: flex;
 gap: 2%;
 border: white;
 border-radius: 2%;
 cursor: pointer;
}

.Movies{
    color: white;
    cursor: pointer;
}

.Movies:hover{
    color: var(--dark); 
}

.anime-slider{
    display: flex;
 gap: 2%;
 border: white;
 border-radius: 2%;
 cursor: pointer;
}

.anime{
     color: white;
    cursor: pointer;
}
.anime:hover{
    color: var(--dark);
}

.recently-added{
     display: flex;
 gap: 2%;
 border: white;
 border-radius: 2%;
 cursor: pointer;
}

.added{
     color: white;
    cursor: pointer;
}

.added:hover{
    color: var(--dark);
}

.web-series{
     display: flex;
 gap: 2%;
 border: white;
 border-radius: 2%;
 cursor: pointer;
}

.web{
    color: white;
    cursor: pointer;
}

.web:hover{
    color: var(--dark);
}

