.link {
  padding: 50px;
  background-color: rgb(0, 0, 0);
  
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display:grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  color: white;
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
   padding-left: 28%;
}

.sub-links a:hover {
  color: var(--light);
  text-decoration: underline;
}

.icon{
  display:inline;
 padding-left: 21%;
 color: white;
}

.icon {
  color:white;
}

footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);

  background-color: rgb(0, 0, 0);
  color: white;
}

footer p:hover{
    color: var(--light);
    text-decoration: underline;
}